@font-face {
  font-family: 'Yusei Magic';
  src: url(./YuseiMagic-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('https://eckben.github.io/bearysBreakfastBar/img/643.png');
    font-family: 'Yusei Magic';
  }
  
  nav {
    padding-top: 10px;
    background-color: #ffde73;
  }
  
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
  }
  
  li {
    border: 1px solid black;
    border-bottom: none;
    padding-block: 20px;
    text-align: center;
    width: 98px;
    border-radius: 5px;
    position: relative;
  }
  
  li:hover,
  li.active {
    background-color: rgb(236, 164, 59);
    cursor: pointer;
  }
  
  img {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: -2%;
  }
  
  li:hover img,
  li.active img {
    display: block;
  }

  .flex-div{
    padding: 20px;
    background-color: #ffde73;
    margin-block: 20px;
    margin-inline: auto;
    border: none;
    border-radius: 20px;
    max-width: 810px;
  }
  .blocks-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .outer-block{
    padding: 20px;
    clip-path: polygon( 0 21%, 11% 0, 89% 0, 100% 21%, 100% 79%, 89% 100%, 11% 100%, 0 79%);
    background-color: #c16a08;
}

  .inner-block {
    background-color: #FFC60B;
    padding: 20px;
    clip-path: polygon( 0 20%, 10% 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0 80%);
    max-width: 550px;
    min-width: 450px;
}
.text-center{
  text-align: center;
}
.bee-nest,.comb-nest{
  position: relative;
}
.bee1,.bee2,.comb{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
}
.bee1{
  top: 15%;
  left: 2%;
}
.bee2{
  top: 15%;
  left: 87%;
  transform: rotate(100deg);
}
.comb{
  top: 1%;
  left: 44%;
}